.menu {


  &__list {
  width: @element-width ;
  .display-flex(@justify-content: space-between);

    .media-adaptive({
      & {
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        padding:5rem 5rem 12rem;
        opacity: 0;
        z-index: 50;
        pointer-events: none;
        transition: @transition-default;
        &--visible {
          opacity: 1;
          pointer-events: all;
        }
      }
    })
  }

  &__item {
    line-height: 1;
    color: #435993;
    &.active {
      color: #1c1c1c;
    }
  }

  &__link {
    line-height: 1;
    font-size: 14px;
    color: inherit;
    font-weight: 100;
  }

  &__body {

  }

  &-hamburger {
    display: none;
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 40px;
    right: 40px;
    z-index: 100;
    background: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px, rgba(0, 0, 0, 0.1) 0px -5px 15px;
    transition: @transition-default;
    transition-delay:250ms ;
    transform: translateY(0px);
    &.x {
      transform: translateY(5px);
      box-shadow: none;
    }

    &__top-el, &__bottom-el {
      position: absolute;
      border-radius: 45px;
      width: 40px;
      height: 8px;
      background: @color-primary;
      right: 15px;
      top: 15px;
      box-shadow: none;
      transition: @transition-default;
      &.collapse {
        top: 31px;
      }
      &.rotate {
        top: 31px;
      }
    }
    &__top-el {
      top: 20px;
      width: 25px;
      &.collapse {
        width: 40px;
      }
      &.rotate {
        width: 40px;
        transform: rotate(45deg);
      }
    }
    &__bottom-el {
      top: 40px;
      &.rotate {
        transform: rotate(-45deg);
      }
    }
    .media-adaptive({
      display: block;
    })
  }


}






.form-control {
  width: 520px ;
  position: relative;
  font-weight: 200;
}

.input {
  position: relative;
  width: 100%;
  font-size: 24px;
  border:1px solid #e5e5e5;
  text-align: center;
  border-radius: @border-radius-element;
  height: 60px;

  &[data-placeholder]:focus,
  &.has-value {
    padding: .9rem 0 .4rem;
  }

  &:focus {
    outline: none ;
    border-color: @color-primary;
  }
}


.floating-placeholder {
  position: absolute;
  top: 2px;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  z-index: 5;
  font-size: 24px;
  color:#c8c8c8;
  pointer-events: none;
  .transition(all, 200ms);
  &.focus{
    transform:scale(.6) translateY(-50%);
  }
}



.birthyear-select {
  position: relative;
  width: 320px;
  z-index: 10;
  background: white;
  &__input{
    z-index: 5;
    cursor: default;
  }
  &__input:focus {
    border-color: #e5e5e5;
  }
  & label {
    z-index: 10;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:20.5px;
    z-index: 21;
    &-rotated {
      transform: rotateZ(180deg) translateY(50%);
    }
  }
  &__list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 120%;
    background: #fff;
    width: 100%;
    z-index: 18;
    transition: @transition-default;
    box-shadow: 0 0 8px 2px rgba(0,0,0,.1);
    padding: 33px 0 0 13px;
    max-height: 300px;
    overflow-y: scroll;
    border-radius: @border-radius-element;

    &-item {
      color:@color-primary;
      display: block;
      text-align: center;
      padding: 0;
      padding-bottom: 12.5px;
      cursor: pointer;
      font-family: 'Roboto-Light', sans-serif;
      font-size: 20px;
    }

    &.shown {
      opacity: 1;
      visibility: visible;
      top: 100%;
    }
  }

}



.custom-checkbox {
  position: relative;
  width: 18px;
  height: 18px;
  .display-flex();
  display: inline-flex;
  border-radius: @border-radius-small;
  box-shadow: 0 0 0 1px  @color-primary;
  flex: 1;
  &:hover, &:focus {
    outline: none;
    background: @color-secondary;
    &__inidcator {
      opacity: 0;
    }
  }
  &:active {
    background: @color-primary;
  }
  &--checked {
    background: @color-primary;
    &:focus {
      background: @color-primary;
    }
    &:hover {
      background: @color-primary;
    }
  }

  &__indicator {
    position: relative;
    opacity: 0;
    pointer-events: none;
    top: 1px;
    margin-left: 2px;
    display: block;
    transform: scale(1.1);
    &--visible {
      opacity: 1;
    }
  }
  &__label {
    padding-left: 14px;
    font-family: 'Roboto-Light', sans-serif;
    font-size: 16px;
    position: relative;
    top: 2px;
    left: -2px;
    line-height: 1rem;
  }
}



.range {
  position: relative;
  .display-flex(column);
  //overflow: hidden;
  &__points {
    position: relative;
    width: 100%;
    height: 41px;
    .display-flex(row, @justify-content: space-between, @align-items: flex-end);
    margin-bottom: 28px;
    margin-top: 4px;
  }
  &__point {
    position: absolute;
    max-width: 185px;
    z-index: 15;

    &--right {
      right: -3px;
      text-align: right;
      ;
    }
    &-text {
      left: -1px;
      top: 2px;
      line-height: 1.37;
      font-size: 13px;
      font-family: 'Roboto-Light', sans-serif;
      font-weight: 500;
      padding-right: 10px;
      width: 100%;
      height: 100%;

      position: relative;
      .display-flex(@justify-content: flex-start, @align-items: flex-end);

      &--right {
        padding-right: 0;
      }
    }



    &-orientation {
      position: absolute;
      top: 110%;
      height: 27px;
      width: 1px;
      .display-flex(@direction: column, @justify-content: space-between);

      &--right {
        right: 3px;

      }
    }

    &:nth-child(1) {
      &-text {
        left: -1px;

      }
    }
    &:nth-child(3) {
      max-width: 190px;
    }
    &:nth-child(3) &-text {
      font-size: 12.4px;
      line-height: 1.5;
    }
    &:nth-child(3) &-orientation {
      transform: translateX(-2px);
    }


    &-dashes {
      width: 1px ;
      position: relative;

      z-index: 10;
    }
    &-dash {
      width: 1px;
      height: 1px;
      background: #b7b7b7;
      margin-bottom: 2px;
      display: block;
    }
    &-marker {
      background: #fff;
      width: 1px;
      &--right {
        width: 0;
        background: transparent;
      }
    }

  }

  &__body {
    .display-flex(column);
    .position-relative-width-100;

  }
  &__gradient {
    position: relative;
    background: @range-gradient;
    //max-width: 738px;
    height: 20px;
    width: 100%;

      &-fill {
        background: #e8e8e8;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
      }
  }
  &__scale {
    .position-relative-width-100;
    &-top, &-bottom {
      overflow: hidden;
      z-index: 5;
      width: @content-width;
    }

    &-top {
      //width: 0;
      //height: 0;
      //border: 0;
      //border-bottom: 739px solid #e8e8e8;
      //border-right: 11px solid transparent ;
      //transform: rotate(-90deg) translateX(373px) translateY(363px);

      height: 11px;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      top: -11px;
      left: 0;
      background: #e8e8e8;
      position: absolute;
      &-gradient {
        z-index: 10;
        top: 0;
        left: 0;
        position: absolute;
        //transform: rotate(-90deg) translateX(-373px) translateY(-363px);
      }
    }
    &-bottom {
      height: 3px;
      position: relative;
      background: #e8e8e8;
    }
  }
  &__control {
    position: absolute;
    transform: translateX(-13px) translateY(-1px);
    top: 5px;
    &-container {
      height: 60px;
      .position-relative-width-100;
    }

    &-svg {

        fill: #fff;
        stroke: #b0b0b0;
        stroke-linejoin: round;
        stroke-width: 1px;
        fill-rule: evenodd;
        .transition();
      &:hover {
        stroke: @color-primary
      }
    }
  }

}



.buttons {
  margin: 70px auto;
}

.btn {
  height: 50px;
  min-width: 116px;
  border-radius: @border-radius-btn;
  font-family: 'Roboto-Light',sans-serif;
  font-size: 16px;
  border: none;
  background: @color-primary;
  color: #fff;
  line-height: 2.8;
  cursor: pointer;

  &__text {
    position: relative;
    top:-2px;
  }
}

//.section {
//  transition: @transition-default;
//  position: absolute;
//  opacity: 0;
//  pointer-events: none;
//  right: -100%;
//  &.active {
//    right: 0;
//    position: relative;
//    opacity: 1;
//    pointer-events: all;
//
//  }
//}