.header {
  width: 100%;


  position: relative;
  //.display-flex();
  &__menu {
    bottom: -1px;
    margin-left: -2px;

  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    left: 0;
    background: #d9d9d9;
  }

  .media-adaptive({
    height: 0;

  })
}

.questionnaire {
    padding-top: 121px;
    overflow: hidden;
    max-width: 100%;
  position: relative;
  &__title {
    max-height: 70px;
    font-size: 70px;
    font-family: 'Roboto-Thin', sans-serif;
    font-weight: 100;
    text-align: center;
    padding: 0;
    padding-left: 2px;
    line-height: 1;
  }

  .media-adaptive({
    padding-top: 50px;
  })

}

.personal-info {

  &__header {
    .display-flex('column');
    margin-top: 66px;
  }
  &__icon {
    margin-left: -5px;
  }
  &__title {
    font-family: 'Roboto-Light';
    font-weight: 400;
    font-size: 30px;
    margin-top: 24px
  }

  &__body {
    margin-top: 50px;
    .display-flex(column);

  }

  &__form-control {

    margin-bottom:  25px;//1.124rem;
    margin-right: -7px;

  }

}

.experience {
  &__header {
    .display-flex('column');
    margin-top: 48px;
  }
  &__icon {
    margin-left: -2px;
  }
  &__title {
    font-family: 'Roboto-Light';
    font-weight: 400;
    font-size: 30px;
    margin-top: 27px;

    .media-adaptive({
      padding: 0 1rem;
      text-align: center;
    });
  }

  &__body {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 0 ;
  }

  &__form-control {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    height: 25px;
  }
  &__col-1, &__col-2, &__col-3 {
    flex:none;
    padding-top: 7px;
  }
  &__col-1, &__col-2 {
    width: 280px;
  }
  &__col-3 {
    width: 170px;
    .media-adaptive({
      width: 280px;
    });
  }

}


.javascript {
  &__header {
    .display-flex('column');
    margin-top: 117px;
  }

  &__icon {
    //margin-left: -5px;
  }

  &__title {
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 27px;

    .media-adaptive({
      padding: 0 1rem;
      text-align: center;
    });
  }

  &__body {
    margin-top: 34px;
    .media-adaptive({
      max-width: 768px;
    })
  }
  &__range {


  }
}


.about {
  &__header {
    .display-flex('column');
    margin-top: 43px;
    flex-wrap: nowrap;
    max-width: 100%;
  }

  &__icon {
    //margin-left: -5px;
  }

  &__title {
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 27px;
    .media-adaptive({

    })
  }
  &__description {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: @element-width;
    text-align: center;
    margin-top: 14px;
    line-height: 1.5;
    .media-adaptive({
      padding:0 1rem;
    })
  }
  &__message {
    margin-top:38px;
    width:calc(@element-width + 18px);
    padding:20px  18px;
    margin-right: -5px;
    border-radius: @border-radius-element;
    border: 1px solid;
    border-color: #e7e7e7;
    height: 180px;
    .media-adaptive({
      max-width: 90%;
    });
    &:focus {
      border-color: @color-primary;
      outline: none !important;
    }
    &::placeholder {
      font-family: 'Roboto-Regular', sans-serif;
      font-size: 20px;
      color: #c8c8c8 !important;
      }
  }
}