@mediaWidthLaptop: {
  min: 1025px;
  max:1280px
};
@mediaWidthTablet:{
  min: 768px;
  max: 1024px;
};
@mediaWidthTabletHorizontal: {
  min: 481px;
  max: 768px;
};
@mediaWidthMobile: {
  min: 320px;
  max: 480px;
};



@content-width: 768px;

@element-width: 502px;

@color-primary: #435993;
@color-secondary:#e9efff;

@transition-default: all 250ms ease;

@border-radius-element: .25rem;

@border-radius-small: .1rem;

@range-gradient: linear-gradient(90deg, #ccb1f1, @color-primary);